*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    margin: 0 auto;
    nav{

    }
    .menu {
        background-color: rgba(5, 3, 107, 0.79);
        padding: 5px;
        list-style: none;
        text-align: center;
      }

}